<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body class="flex items-center justify-center min-h-screen">

  
    <form action="/" method="POST" class="flex flex-col items-center  bg-gray-100 p-4 rounded-lg shadow-md space-y-4">
      <div class="flex items-center border-2 border-purple-500 rounded-lg overflow-hidden w-full max-w-4xl">
        <input type="text" name="search" id="search" class="px-4 py-2 flex-1 focus:outline-none" placeholder="Search...">
        <button type="submit" class="bg-purple-600 text-white px-4 py-2 hover:bg-purple-700 transition-colors">Suchen</button>
      </div>
      
      <div class="flex w-full max-w-4xl">
        <h1>Wähle deine Kategorie aus</h1> <br>
        </div>
        <div class="flex w-full justify-center space-x-4">
            <a href="/category/antiquities" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Antiquitäten & Kunst</a>
            <a href="/category/audio-video" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Audio, TV & Video</a>
            <a href="/category/baby-kids" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Baby & Kind</a>
            <a href="/category/books" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Bücher</a>
            <a href="/category/vehicles" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Fahrzeuge</a>
          </div>
        
    </form>
</body>
</html>