<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex flex-col  h-screen">

  <%- include('includes/header.ejs') %>
  <%- include('includes/searchbar.ejs') %>
   

        <%- include('includes/auctioncard.ejs',auctions) %>
        <%- include('includes/footer.ejs') %>
</body>
</html>