<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body class="bg-gray-100">

  <%- include('includes/header.ejs') %>
  <%- include('includes/searchbar.ejs') %>
  <div class="text-center pt-5 pb-5">
    <a href="create" class="bg-purple-600 text-white px-4 py-2 rounded hover:bg-purple-700 transition-colors">Auktion erstellen</a>
  </div>
  
    <!---Hier sollte noch ein JS reinkommen,
      <option value="Antiquit채ten & Kunst">Antiquit채ten & Kunst</option>
    <option value="Audio, TV & Video">Audio, TV & Video</option>
    <option value="Baby & Kind">Baby & Kind </option>
    <option value="B체cher">B체cher </option>
    <option value="Fahrzeuge">Fahrzeuge </option>
    <option value="option6">Option </option>
    <option value="option7">Option </option>
    <option value="option8">Option </option>
</select>
    
    
    wo es automatisch bearbeitet wird-->

    <%- include('includes/auctioncard.ejs',auctions) %>

    <%- include('includes/footer.ejs') %>

</body>
</html>