<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrieren</title>
   
    <link  rel="stylesheet" href="/src/public/css/sign.css">
</head>
<body class="flex flex-col  h-screen">
    <div class="form container">
        <h2>Registrieren</h2>
        <form action="/register" method="post">
            <div class="form groupe">
                <label for="name">Name</label>
                <input type="text" id="name" name="username" placeholder="Enter your name">
            </div>
            <div class="form groupe">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter your Email">
            </div>
            <div class="form groupe">
                <label for="password">Passwort</label>
                <input type="password" id="password" name="password" placeholder="Enter your password">
            </div>
            <div class="pt-3 pb-3">
                <%- include('includes/flash.ejs') %>
            </div>
            <button type="submit">Registrieren</button>
        </form>
    </div>

    
</body>
</html>