<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
      h2{
        text-emphasis-color:  #4CAF50;
      }
    </style>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <div class="pt-10"></div>
  <div class="max-w-xl mx-auto bg-white p-8 border-2 border-purple-500 rounded-lg shadow-lg ">
    <form action="/create" method="POST" enctype="multipart/form-data" class="space-y-4">
      <div>
        <h2 class="text-lime-500 text-xl font-semibold mb-2">Bild</h2>
        <label class="flex items-center border border-gray-300 rounded-md cursor-pointer p-2 hover:bg-gray-100">
          <input type="file" name="image" class="hidden">
          <svg class="w-6 h-6 mr-2" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path d="M12 0L7.75 8h8.5L12 0zm2.5 9H9.5L12 4l2.5 5zM0 12l2-8h6l-2 8H0zm8.5 1L7 24H5.5L7 13h1.5zM6.75 8L5.5 13H4L5.25 8h1.5zm8.5-2H24l-2 8H10.25l2-8zM17 13h1.5L14.25 24H12.75L17 13zM12 20L7.75 28h8.5L12 20zm2.5 1H9.5L12 17l2.5 4zM2 16l2-8h6l-2 8H2zm8.5 1L7 29H5.5L7 17h1.5zM6.75 13L5.5 17H4L5.25 13h1.5zm8.5-3H24l-2 8H10.25l2-8zM17 17h1.5L14.25 29H12.75L17 17z"/>
          </svg>
          Upload Image
        </label>
      </div>

      <div>
        <h2 class="text-green-700 text-xl font-semibold mb-2">Startbit</h2>
        <input type="number" min="1" max="1000000" name="startbit" class="w-full border border-gray-300 rounded-md p-2">
      </div>

      <div>
        <h2 class="text-green-500 text-xl font-semibold mb-2">Laufzeit</h2>
        <input type="number" min="7" max="14" name="time" id="time" class="w-full border border-gray-300 rounded-md p-2">
      </div>

      <div>
        <h2 class="text-green-500 text-xl font-semibold mb-2">Kategorie</h2>
        <select id="options" name="options" class="w-full border border-gray-300 rounded-md p-2">
          <option value="Antiquit채ten & Kunst">Antiquit채ten & Kunst</option>
          <option value="Audio, TV & Video">Audio, TV & Video</option>
          <option value="Baby & Kind">Baby & Kind</option>
          <option value="B체cher">B체cher</option>
          <option value="Fahrzeuge">Fahrzeuge</option>
          <option value="option6">Option 6</option>
          <option value="option7">Option 7</option>
          <option value="option8">Option 8</option>
        </select>
      </div>

      <div>
        <h2 class="text-green-500 text-xl font-semibold mb-2">Titel</h2>
        <input type="text" name="titel" id="titel" class="w-full border border-gray-300 rounded-md p-2">
      </div>

      <div>
        <h2 class="text-green-500 text-xl font-semibold mb-2">Beschreibung</h2>
        <input type="text" name="description" class="w-full border border-gray-300 rounded-md p-2">
      </div>

      <div>
        <input type="submit" value="Upload" class="bg-green-500 text-white rounded-md p-2 w-full cursor-pointer hover:bg-green-600">
      </div>
    </form>
  </div>
  <div class="pt-10"></div>
      <%- include('includes/footer.ejs') %>
</body>
</html>